baltaa
baltaa/
chess
chess/
lesley
lesley/
pdfpublisher
pdfpublisher/
pizzapricer
pizzapricer/
taskmaster
taskmaster/
__pycache__/
spiffindustries/__pycache__
static/
spiffindustries_config.py
recaptchav3.py
*.tar.gz
