body {
	background-color: #202020;
	background-image: url("img/spiff.svg");
	color: white;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-blend-mode: overlay;
	background-size: cover;
	padding: 5px;
}
.logo {
	width: 150px;
	max-width: 150px;
	max-height: 150px;
	margin: 25px 50px 10px;
}
.flip {
	filter: invert(1);
}
h1 {
	font: bold 2em Courier New, monospace;
	margin-top: 10px;
	margin-bottom: 20px;
}
h2 {
	font: 1.5em Courier New, monospace;
	margin-top: 5px;
	margin-bottom: 5px;
}
h3, figcaption, p {
	font: .75em Verdana, sans-serif;
	margin-top: 5px;
	margin-bottom: 20px;
}
a {
	display: inline-block;
	text-decoration: none;
	color: white;
}
a:hover {
	text-decoration: underline;
}
#images {
	max-width: 800px;
	width: fit-content;
	margin: 0 auto;
	text-align: center;
}
#text {
	max-width: 600px;
	width: fit-content;
	margin: 0 auto;
}