body {
	background-color: #202020;
	background-image: url("img/spiff.svg");
	color: white;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-blend-mode: overlay;
	background-size: cover;
	max-width: 800px;
	margin: auto;
	padding: 5px;
}
.logo {
	width: 150px;
	max-width: 150px;
	max-height: 150px;
	margin: 25px 50px 10px;
}
.flip {
	filter: invert(1);
}
h1 {
	font: bold 3em Courier New, monospace;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
}
h2 {
	font: bold 2em Verdana, sans-serif;
	margin-top: 5px;
	margin-bottom: 10px;
}
h3, figcaption, p {
	font: 1em Verdana, sans-serif;
	margin-top: 5px;
	margin-bottom: 10px;
}
a {
	display: inline-block;
	text-decoration: none;
	color: white;
}
a:hover {
	text-decoration: underline;
}
.center-image {
	text-align: center;
    margin-top: 50vh;
    transform: translateY(-50%);
}
